<div class="gap">
  <div class="item-location">
    <mat-icon>location_on</mat-icon>
    <p>{{ guide?.city }}</p>
    <p *ngIf="guide?.country != ''">,&nbsp;</p>
    <p>{{ guide?.country }}</p>
  </div>

  <div class="icons">
    <div class="pop-up_text-container">
      <mat-icon *ngIf="guide?.fee">attach_money</mat-icon>
      <mat-icon *ngIf="!guide?.fee">money_off</mat-icon>
      <!-- <p class="pop-up_text">No fee</p> -->
    </div>

    <mat-icon *ngIf="guide?.inside">business</mat-icon>
    <mat-icon *ngIf="!guide?.inside">landscape</mat-icon>

    <div *ngFor="let transport of guide?.transports">
      <mat-icon>{{ transport }}</mat-icon>
    </div>
  </div>

  <google-map
    *ngIf="center != null"
    [width]="346.24"
    [height]="400"
    [center]="center!"
  >
    <map-marker [position]="center"></map-marker>
  </google-map>
</div>
