<div class="container">
  <div class="item-location">
    <mat-icon>location_on</mat-icon>
    <p>{{ guide?.city }}</p>
    <p *ngIf="guide?.country != ''">,&nbsp;</p>
    <p>{{ guide?.country }}</p>
  </div>

  <div class="icons">
    <mat-icon> {{ guide?.fee ? "attach_money" : "money_off" }} </mat-icon>
    <mat-icon> {{ guide?.inside ? "business" : "landscape" }} </mat-icon>

    <div *ngFor="let transport of guide?.transports">
      <mat-icon>{{ transport }}</mat-icon>
    </div>
  </div>

  <google-map
    *ngIf="center != null"
    [width]="346"
    [height]="438"
    [center]="center!"
  >
    <map-marker [position]="center"></map-marker>
  </google-map>
</div>
