.title {
  font-family: "Tahoma";
  font-size: 28px;
  margin: 0;
}

.descriptions-div {
  font-size: 22px;
  font-family: "Tahoma";
  width: 100%;
}

.text {
  font-size: 18px;
  font-family: "Tahoma";
  white-space: pre-wrap;
  margin: 0;
}

.textarea {
  min-width: 100%;
  max-width: 100%;
  font-family: "Tahoma";
  font-size: 18px;

  p {
    margin: 0;
    font-size: 16px;
  }
}
