<div class="main-div">
  <div class="my-guides-div">
    <p class="title">My guides</p>
    <ng-container *ngIf="userGuides?.length != 0; else create">
      <app-show-guide
        [whatList]="'user'"
        class="app-show-guide"
      ></app-show-guide>
    </ng-container>
    <ng-template #create>
      <p class="message">You haven't created any guides yet.&nbsp;<a class="message-link" [routerLink]="['/guides/add']">Create a new guide</a> </p>
    </ng-template>
  </div>

  <div class="favorite-guides-div">
    <p class="title">Favorite guides</p>
    <ng-container *ngIf="userFavoriteGuides?.length != 0; else goHomePage">
      <app-show-guide
        [whatList]="'favorite'"
        class="app-show-guide"
      ></app-show-guide>
    </ng-container>
    <ng-template #goHomePage>
      <p class="message">You don't have any favorite guides</p>
    </ng-template>
  </div>

</div>
