<app-details-page
  [isCreatePage]="true"
  [seeResult]="seeResult"
  [btnHide]="btnHide"
  [newGuide]="newGuide"
  [photoId]="photoId"
  [nameForm]="nameForm"
  [uploadPhotoForm]="uploadPhotoForm"
  [infoForm]="infoForm"
  [areatextForm]="areatextForm"
  [latErrorText]="latErrorText"
  [lngErrorText]="lngErrorText"
  (changeClickEvent)="changeClick()"
  (applyClickEvent)="applyClick()"
  (uploadPhotoEvent)="uploadPhoto($event)"
  (deletePhotoEvent)="deletePhoto()"
  (createClickEvent)="createClick()"
  (nextPhotoEvent)="nextPhoto()"
  (prevPhotoEvent)="prevPhoto()"
></app-details-page>

