<ng-container *ngIf="isCreatePage">
  <button
    mat-mini-fab
    *ngIf="seeResult"
    (click)="changeClick()"
    class="change-apply-btn"
  >
    <mat-icon class="favorite-icon">create</mat-icon>
  </button>

  <button
    mat-mini-fab
    *ngIf="!seeResult"
    (click)="applyClick()"
    class="change-apply-btn"
  >
    <mat-icon class="favorite-icon">done</mat-icon>
  </button>
</ng-container>

<!-- GUIDE NAME DIV-->
<div class="main-div">
  <!-- GUIDE NAME -->
  <ng-container *ngIf="!isCreatePage; else createName">
    <div class="first-div">
      {{ guide?.name }}

      <button
        mat-mini-fab
        *ngIf="userName"
        (click)="toggleFavorite()"
        [ngClass]="{ favorite: isFavorite }"
        class="favorite-btn"
      >
        <mat-icon class="favorite-icon">favorite_border</mat-icon>
      </button>
    </div>
  </ng-container>

  <!-- CREATE GUIDE NAME -->
  <ng-template #createName>
    <form *ngIf="!seeResult && nameForm" [formGroup]="nameForm">
      <mat-form-field class="first-div">
        <mat-label> Name </mat-label>
        <input
          id="name"
          matInput
          type="text"
          [formControlName]="'name'"
          class="first-div"
        />
        <mat-error *ngIf="infoForm?.invalid">Guide name is required</mat-error>
      </mat-form-field>
    </form>
    <div *ngIf="seeResult" class="first-div">
      {{ newGuide!.name }}
    </div>
  </ng-template>

  <!-- GUIDE PHOTOS AND INFO DIV -->
  <div class="second-div">
    <!-- GUIDE PHOTOS -->
    <ng-container *ngIf="!isCreatePage; else addPhoto">
      <div class="photos-div">
        <!-- SHOW GUIDE PHOTO -->
        <img class="photo" [src]="photoList[photoId]" />

        <!-- PREV AND NEXT PHOTOS BUTTON-->
        <div class="prev-next-btn-container" *ngIf="photoList.length > 1">
          <button mat-mini-fab (click)="prevPhoto()" class="prev-btn"><</button>
          <button mat-mini-fab (click)="nextPhoto()" class="next-btn">></button>
        </div>
      </div>
    </ng-container>

    <!-- CREATE GUIDE PHOTOS -->
    <ng-template #addPhoto>
      <div class="photos-div">
        
          <!-- UPLOAD PHOTO BUTTON -->
          <form
            *ngIf="
              uploadPhotoForm &&
              !seeResult &&
              (photoList[photoId] == '' || photoList.length == 0)
            "
            [formGroup]="uploadPhotoForm"
            class="uploadPhoto"
          >
            <button mat-raised-button (click)="fileUpload.click()">
              <mat-icon>upload</mat-icon> Upload photo
            </button>
            <input
              hidden
              type="file"
              formControlName="photo"
              #fileUpload
              (change)="uploadPhoto($event)"
              accept=".jpg"
            />
          </form>

 
        <!-- DELETE PHOTO BUTTON-->
        <button
          mat-mini-fab
          (click)="deletePhoto()"
          class="delete-btn"
          *ngIf="photoList[photoId] != '' && photoList.length != 0 && !seeResult"
        >
          x
        </button>

        <!-- SHOW GUIDE PHOTO -->
        <img
          class="photo"
          *ngIf="photoList[photoId] != '' && photoList.length != 0"
          [src]="photoList[photoId]"
        />

        <!-- PREV AND NEXT PHOTOS BUTTON-->
        <div class="prev-next-btn-container" *ngIf="photoList.length > 1">
          <button mat-mini-fab (click)="prevPhoto()" class="prev-btn"><</button>
          <button mat-mini-fab (click)="nextPhoto()" class="next-btn">></button>
        </div>
      </div>
    </ng-template>

    <!-- GUIDE INFO -->
    <div class="info-div">
      <p class="title">Info</p>
      <ng-container *ngIf="!isCreatePage; else createInfo">
        <app-show-info [guide]="guide"> </app-show-info>
      </ng-container>

      <!-- CREATE INFO -->
      <ng-template #createInfo>
        <div *ngIf="!seeResult" class="createInfo-container">
          <form *ngIf="infoForm" [formGroup]="infoForm">
          <p class="text">Place location</p>
            <mat-form-field class="cityStateForm-content">
              <mat-label> City </mat-label>
              <input matInput type="text" [formControlName]="'city'" />
              <mat-error *ngIf="infoForm?.invalid">City name is required</mat-error>
            </mat-form-field>

            <mat-form-field class="cityStateForm-content">
              <mat-label> State </mat-label>
              <input matInput type="text" [formControlName]="'country'" />
              <mat-error *ngIf="infoForm?.invalid">Country name is required</mat-error>
            </mat-form-field>

            <p class="text">Is there a fee to visit?</p>
            <mat-radio-group formControlName="fee">
              <mat-radio-button value="true">Yes</mat-radio-button>
              <mat-radio-button value="false">No</mat-radio-button>
            </mat-radio-group>

            <p class="text">Is located inside the city?</p>
            <mat-radio-group formControlName="inside">
              <mat-radio-button value="true">Yes</mat-radio-button>
              <mat-radio-button value="false">No</mat-radio-button>
            </mat-radio-group>

            <p class="text">In what transport can you get there?</p>
            <mat-chip-listbox class="transport-chip" multiple>
              <mat-chip-option
                *ngFor="let transport of transports"
                (click)="toggleTransport($event)"
              >
                <mat-icon [value]="transport"> {{ transport }} </mat-icon>
              </mat-chip-option>
            </mat-chip-listbox>

            <p class="text">Google map</p>
            <mat-form-field class="cityStateForm-content">
              <mat-label> Latitude </mat-label>
              <input matInput type="number" formControlName="latitude" />
              <mat-error *ngIf="infoForm.invalid">{{latErrorText}}</mat-error>
            </mat-form-field>

            <mat-form-field class="cityStateForm-content">
              <mat-label> Longitude </mat-label>
              <input matInput type="number" formControlName="longitude" />
              <mat-error *ngIf="infoForm?.invalid">{{lngErrorText}}</mat-error>
            </mat-form-field>
          </form>
        </div>

        <div *ngIf="seeResult">
          <app-show-info [guide]="newGuide!"></app-show-info>
        </div>
      </ng-template>
    </div>
  </div>

  <div class="third-div">
    <app-textarea-form
      titleName="How to get there?"
      [guideText]="guide?.howText"
      [newGuideText]="newGuide?.howText"
      [isCreatePage]="isCreatePage"
      [seeResult]="seeResult"
      [textForm]="areatextForm"
    ></app-textarea-form>
    <app-textarea-form
      [guideText]="guide?.descriptionText"
      [newGuideText]="newGuide?.descriptionText"
      titleName="About this place"
      [isCreatePage]="isCreatePage"
      [seeResult]="seeResult"
      [textForm]="areatextForm"
    ></app-textarea-form>
  </div>
  <div class="create-btn-container">
    <button
      mat-stroked-button
      *ngIf="isCreatePage && seeResult"
      (click)="createClick()"
      class="create-btn"
    >
      CREATE A GUIDE
    </button>
  </div>
</div>
